#words {
  font-size:26px;
}

#words > div {
  white-space: nowrap;
  padding:10px 5px;
  float:left;
  width:18em;
}

#words > div > i {
  font-style: normal;
  padding-right:10px;
  font-size:20px;
}

#words > div > b {
  font-style: normal;
}